<%= form_with(model: @tag, local: true) do |tag| %>

  <div class="field form-group">
    <%= tag.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= tag.text_field :name, id: :tag_title, class: 'form-control' %>
    </div>
  </div>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= tag.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>